@page "{id}"
@model FrontEnd.Pages.SessionModel

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-page="/Index">Current sessions</a></li>
    <li class="breadcrumb-item"><a asp-page="/Index" asp-route-day="@Model.DayOfWeek">@Model.DayOfWeek</a></li>
    <li class="breadcrumb-item active">@Model.Session.Title</li>
</ol>

<h1>@Model.Session.Title</h1>
<h2 class="label label-default">Game - @Model.Session.Game.Name</h2>

<h4>Player(s):</h4>
@foreach (var player in Model.Session.Players)
{
    <a asp-page="Player" asp-route-id="@player.Id">@player.UserName</a>
    <em> @player.Age</em>
}

