@page "{id}"
@model FrontEnd.Pages.SessionModel

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-page="/Index">Current sessions</a></li>
    <li class="breadcrumb-item"><a asp-page="/Index" asp-route-day="@Model.DayOfWeek">@Model.DayOfWeek</a></li>
    <li class="breadcrumb-item active">@Model.Session.Title</li>
</ol>

<h1>@Model.Session.Title</h1>
<h2 class="label label-default">Game - @Model.Session.Game.Name</h2>

<h4>Player(s):</h4>
@foreach (var player in Model.Session.Players)
{
    <a asp-page="Player" asp-route-id="@player.Id">@player.UserName</a>
    <em> @player.Age</em> <br />
}

<form method="post">
    <input type="hidden" name="sessionId" value="@Model.Session.Id" />
    <p>
        <a authorization-policy="Admin" asp-page="/Admin/EditSession" asp-route-id="@Model.Session.Id" class="btn btn-default btn-sm">Edit</a>
        @if (Model.IsInProfile)
        {
            <button authorization="true" type="submit" asp-page-handler="Delete" class="btn btn-default btn-sm">
                <i class="fas fa-minus" aria-hidden="true"> Leave this session</i>
            </button>
        }
        else
        {
            <button authorization="true" type="submit" class="btn btn-default btn-sm">
               <i class="fas fa-plus" aria-hidden="true"> Join to the session</i>
            </button>
        }
    </p>
</form>